.profile {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	gap: 60px;
	margin: 0 auto;
	align-items: center;
}

.wrapperInput {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.li {
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	height: 64px;
	width: 320px;
	color: rgba(133, 133, 173, 1);
}

.button:hover {
	opacity: 0.8;
	cursor: pointer;
}


.liActive {
	color: white;
}

.paragraph {
	margin: 0;
	padding: 0;
	height: 64px;
	width: 320px;
	padding-top: 80px;
}

.wrapperButton {
	display: flex;
	gap: 15px;
}