.item {
	width: 272px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.item:hover {
	opacity: 0.6;
}

.price {
	display: flex;
	align-items: center;
	gap: 9px;
}

.paragraph {
	text-align: center;
}