.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.popupOpen {
	visibility: visible;
}

.container {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	width: 720px;
	min-height: 539px;
	background: rgba(28, 28, 33, 1);
	border-radius: 40px;
}

.closeIcon {
	position: absolute;
	top: 60px;
	right: 40px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: none;
	background: url("/src/images/closeIcon.svg") no-repeat center;
}

.closeIcon:hover {
	opacity: 0.6;
}

