.reset {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0 auto;
	align-items: center;
}

.wrapperDescription {
	margin-top: 80px;
}

.span {
	text-decoration: none;
	color: rgba(76, 76, 255, 1);
}