.section {
	width: 600px;
}

.wrapperItem {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.navigation {
	display: flex;
}

.wrapper {
	overflow: scroll;
	height: 756px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}